<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Tue Apr 02 11:11:58 CST 2013-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.nppm.activitiWeb.dao.PPMFlowDAO">

	<insert id="saveTacheDetail" parameterType="java.util.Map">
		insert into tache_detail
		  (tache_id,
		   flow_id,
		   tache_name,
		   activity_name,
		   tache_desc,
		   tache_spec_cd,
		   tache_type_cd,
		   weight,
		   redispatch
		   )
		values
			(
			#{tacheId,jdbcType=DECIMAL},
			#{flowId,jdbcType=DECIMAL},
			#{tacheName,jdbcType=VARCHAR},
			#{activityName,jdbcType=VARCHAR},
			#{tacheDesc,jdbcType=VARCHAR},
			#{tacheSpecCd,jdbcType=VARCHAR},
			#{tacheTypeCd,jdbcType=VARCHAR},
			#{weight,jdbcType=DECIMAL},
			'N'
			)
	</insert>

	<insert id="saveFlowDetail" parameterType="java.util.Map">
		insert into flow_detail
		  (flow_id, f_pdkey, version_code, create_date, state)
		values
		  (
		  	#{flowId,jdbcType=DECIMAL},
		  	#{fPdKey,jdbcType=VARCHAR},
			'v1.0',
			sysdate,
			'1'
		  )
	</insert>

	<insert id="saveTransitionDetail" parameterType="java.util.Map">
		insert into transition_detail(transition_id,
                              trans_name,
                              transition_name,
                              transition_desc,
                              transition_type,
                              from_tache_id,
                              to_tache_id,
                              flow_id,
                              transition_seq)
		values
		(
		#{transitionId,jdbcType=DECIMAL},
		#{transName,jdbcType=VARCHAR},
		#{transitionName,jdbcType=VARCHAR},
		#{transitionDesc,jdbcType=VARCHAR},
		#{transitionType,jdbcType=VARCHAR},
		#{fromTacheId,jdbcType=DECIMAL},
		#{toTacheId,jdbcType=DECIMAL},
		#{flowId,jdbcType=DECIMAL},
		#{transitionSeq,jdbcType=DECIMAL}
		)
	</insert>

	<select id="queryFlowDetail" parameterType="java.util.Map" resultType="java.util.Map">
		select t.flow_id as "flowId" from flow_detail t
		 where 1=1
		 and  f_pdkey=#{fPdKey,jdbcType=VARCHAR}
	</select>

	<delete id="removePPMDataByFlowId" parameterType="java.lang.Long">
		BEGIN
		DELETE from tache_detail where flow_id= #{flowId,jdbcType=DECIMAL};
		DELETE from transition_detail where flow_id= #{flowId,jdbcType=DECIMAL};
		DELETE from flow_detail where flow_id= #{flowId,jdbcType=DECIMAL};
		END ;
	</delete>
</mapper>