<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Tue Apr 02 11:11:58 CST 2013-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.nppm.activitiWeb.dao.PPMFlowDAO">

	<insert id="saveTacheDetail" parameterType="java.util.Map">
		insert into tache_detail
		  (tache_id,
		   flow_id,
		   tache_name,
		   activity_name,
		   tache_desc,
		   tache_spec_cd,
		   tache_type_cd,
		   weight,
		   redispatch
		   )
		values
			(
			#{tacheId,jdbcType=DECIMAL},
			#{flowId,jdbcType=DECIMAL},
			#{tacheName,jdbcType=VARCHAR},
			#{activityName,jdbcType=VARCHAR},
			#{tacheDesc,jdbcType=VARCHAR},
			#{tacheSpecCd,jdbcType=VARCHAR},
			#{tacheTypeCd,jdbcType=VARCHAR},
			#{weight,jdbcType=DECIMAL},
			'N'
			)
	</insert>

	<insert id="saveFlowDetail" parameterType="java.util.Map">
	BEGIN
		insert into flow_detail
		  (flow_id, f_pdkey, version_code, create_date, state)
		values
		  (
		  	#{flowId,jdbcType=DECIMAL},
		  	#{fPdKey,jdbcType=VARCHAR},
			'v1.0',
			sysdate,
			'1'
		  );
		 insert into flow_template(flow_template_id,
						 flow_template_name,
						 flow_id,
						 description,
						 create_staff,
						 create_date,
						 state)
		 values
		  (
		  	#{flowId,jdbcType=DECIMAL},
		  	#{name,jdbcType=VARCHAR},
		  	#{flowId,jdbcType=DECIMAL},
		  	#{name,jdbcType=VARCHAR},
			'1001',
			sysdate,
			'1'
		  );

	END ;
	</insert>

	<insert id="saveTransitionDetail" parameterType="java.util.Map">
		insert into transition_detail(transition_id,
                              trans_name,
                              transition_name,
                              transition_desc,
                              transition_type,
                              from_tache_id,
                              to_tache_id,
                              flow_id,
                              transition_seq)
		values
		(
		#{transitionId,jdbcType=DECIMAL},
		#{transName,jdbcType=VARCHAR},
		#{transitionName,jdbcType=VARCHAR},
		#{transitionDesc,jdbcType=VARCHAR},
		#{transitionType,jdbcType=VARCHAR},
		#{fromTacheId,jdbcType=DECIMAL},
		#{toTacheId,jdbcType=DECIMAL},
		#{flowId,jdbcType=DECIMAL},
		#{transitionSeq,jdbcType=DECIMAL}
		)
	</insert>

	<select id="queryFlowDetail" parameterType="java.util.Map" resultType="java.util.Map">
		select t.flow_id             as "flowId",
		ft.flow_template_name as "name",
		t.f_pdkey             as "key",
		t.version_code        as "version"
		from flow_detail t, flow_template ft
		where 1 = 1
		and t.flow_id = ft.flow_id
		<if test="fPdKey != null and fPdKey != ''">
			and  f_pdkey=#{fPdKey,jdbcType=VARCHAR}
		</if>
		order by t.flow_id asc
	</select>

	<select id="queryTacheDetails" parameterType="java.util.Map" resultType="java.util.Map">
		select
			t.tache_id      as "tacheId",
			tache_name      as "tacheName",
			t.activity_name as "activityName",
			t.tache_spec_cd as "tacheSpecCd",
			t.tache_type_cd as "tacheTypeCd"
			from tache_detail t
		where 1 = 1
		<if test="flowId != null and flowId != ''">
			and  flow_id=#{flowId,jdbcType=VARCHAR}
		</if>
		order by t.tache_id asc
	</select>

	<select id="queryTransitionDetails" parameterType="java.util.Map" resultType="java.util.Map">
		select t.transition_id as "transitionId", t.trans_name as "transName", t.transition_type as "transitionType"
		from transition_detail t
		where 1 = 1
		<if test="flowId != null and flowId != ''">
			and  flow_id=#{flowId,jdbcType=VARCHAR}
		</if>
		order by t.transition_id asc
	</select>

	<delete id="removePPMDataByFlowId" parameterType="java.util.Map">
		BEGIN
		DELETE from tache_detail where flow_id= #{flowId,jdbcType=DECIMAL};
		DELETE from transition_detail where flow_id= #{flowId,jdbcType=DECIMAL};
		UPDATE flow_template set flow_template_name=#{name,jdbcType=VARCHAR},description=#{name,jdbcType=VARCHAR} where flow_id= #{flowId,jdbcType=DECIMAL};
		END ;
	</delete>
	
	<update id="updateTacheDetail" parameterType="java.util.Map">
		update tache_detail
		<set>
			<if test="tacheSpecCd!=null and tacheSpecCd!=''">
				tache_spec_cd=#{tacheSpecCd,jdbcType=VARCHAR},
			</if>
			<if test="tacheTypeCd!=null and tacheTypeCd!=''">
				tache_type_cd=#{tacheTypeCd,jdbcType=VARCHAR}
			</if>
		</set>
		where tache_id=#{tacheId,jdbcType=DECIMAL}
	</update>


	<update id="updateTransitionDetail" parameterType="java.util.Map">
		update transition_detail
		<set>
			<if test="transitionType!=null and transitionType!=''">
				transition_type=#{transitionType,jdbcType=VARCHAR}
			</if>
		</set>
		where transition_id=#{transitionId,jdbcType=DECIMAL}
	</update>

	<select id="getFlowDetailSeq" resultType="java.lang.Long">
		select seq_flow_detail.nextval from dual
	</select>
</mapper>